
<h1 class="mb-5" id="title">Inicia sesión<hr> </h1>
<form action="{{ url_for('loginUser') }}" method="POST" autocomplete="off">
    <div class="mb-6" id="datos1">
        <label for="email" class="form-label">Correo electronico</label>
        <input type="email" name="email" id="email" class="form-control" required="true">
    </div>
    <div class="mb-6" id="datos2">
        <label for="password" class="form-label mt-4">Contraseña</label>
        <input type="password" name="password" id="password" class="form-control" required="true">
    </div>

    <div class="d-grid gap-2 mt-3 mb-3">
        <button type="submit" onclick="guardarDatos2()" class="btn btn-primary btn-send">Iniciar sesión</button>
    </div>

    <div class="mb-12">
        <span>
            ¿No tienes Cuenta?
        </span>
        <a href="#" id="link_sign_up" class="createUser">
            Crear cuenta
        </a>
    </div>
    <br>
    <input type="button" onclick="recuperarDatos2()" value="Recuperar datos" style="background-color:transparent; border-color: transparent; text-decoration: underline; color:#90bf69;;" />

</form>