
<h1 class="mb-3" id="title">Crear cuenta<hr> </h1>
<form name="formRegisterClient" id="formRegisterClient" action="{{ url_for('registerUser') }}" method="POST" class="mt-5" autocomplete="off">
    <div class="row">
        <div class="col-md-6" id="datos">
            <label for="nombre" class="form-label">Primer nombre</label>
            <input type="text" name="nombre" class="form-control" id="nombre" autofocus required>
        </div>
        <div class="col-md-6" id="datos2">
            <label for="apellido" class="form-label">Primer apellido</label>
            <input type="text" name="apellido" class="form-control" id="apellido" required>
        </div>
    </div>

    <div class="mb-6" id="datos3">
        <label for="email" class="form-label mt-3">Correo electronico</label>
        <input type="email" name="email" class="form-control" id="correo" required>
    </div>

    <div class="row">
        <div class="col-md-6" id="datos4">
            <label for="password" class="form-label mt-3">Contraseña</label>
            <input type="password" name="password" class="form-control" id="contraseña" required>
        </div>
        <div class="col-md-6" id="datos5">
            <label for="repite_password" class="form-label mt-3">Confirmar contraseña</label>
            <input type="password" name="repite_password" class="form-control" id="contraseña2"  required>
        </div>
    </div>


    <div class="container" style="padding-right:0px !important;padding-left:0px !important">
        <div class="row">
        </div>
    </div>

    <div class="d-grid gap-2 mt-3 mb-3">
        <input type="submit" onclick="guardarDatos()" class="btn btn-primary btn-send" id="sendForm" value="Registrarse">
    </div>

    <div class="mb-12">
        <span>
            Ya tengo cuenta
        </span>
        
        <a href="#" style="color: #555;" class="volverViewLogin">
            <i class="bi bi-arrow-left-short"></i>
            Volver
        </a>
            <span><input type="button" onclick="recuperarDatos()" value="Recuperar datos" style="background-color:transparent; border-color: transparent; text-decoration: underline; margin-left: 35px;" /></span>

    </div>
</form>