html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.datos{
  padding-top: 1.625rem;
  padding-bottom: 1.625rem;
  text-align: center;
}

.btn-recuperar{
  border-radius: 10px;
  border-color: #f5f5f5;
  background-color: #ffffff;
}


.btn-registrarse{
  margin-bottom: 10px;
}

.recuadro {
  border:1px solid black;
  width:49.5%;
  display:inline-block;
  height:49.5%;
  overflow:hidden;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-select{
  text-align: center;
}

.f1{
  margin-top: 15px;
}

.input-group-text{
  text-align: left;
}

.btn-primary{
  margin-top: auto;
  margin-bottom: auto;
}
.btn-primary:focus{
  box-shadow: 0 0 0 0.15rem rgba(0, 0, 0, 0.652) !important;
}

.boton-form{
  margin-top: 15px;
}


.bo2{
  background-color: rgba(255, 0, 0, 0.908);
  border-color: red;
}

.bo3{
  background-color: rgba(0, 128, 0, 0.902);
  border-color: green;
}

.titulo{
  margin-left: 32%;
  margin-top: 30px;
  width: 500px;
  height: 100px;
  background-color: rgb(205, 184, 228);
  border-radius: 110px;
}

h1{
  padding-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.boton-buscar{
  margin-top: 100px;
}

.t-2{
  float: left;
  width: 50%;
}

.info-1{
  width: 50%;
  float: left;
}

.info-2{
  width: 50%;
  float: right;
}



caption{
  caption-side: top;
  text-align: center;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}



.bo2:hover{
  background-color: red;
  border-color: red;
}

.bo3:hover{
  background-color: green;
  border-color: green;
}